
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f4f8;
    color: #333;
}

.ListaDeTareas {
    max-width: 700px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.nuevasTareas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.nuevasTareas input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

.nuevasTareas button {
    padding: 10px 20px;
    background-color: #d829be;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


.resumenTareas {
    display: flex;
    justify-content: space-between;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabla {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabla thead {
    background-color: #f8f9fa;
}

.tabla th, .tabla td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.tabla th {
    background-color: #5ca7ed;
    color: white;
    font-weight: bold;
}


.tabla input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}
